*{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(241, 217, 217);
}
#navegador, ul{
    list-style: none;
    text-align: center;
    margin: 0 5px 0 0;
}
#navegador, li, a{
    padding: 2px 7px 2px 7px;
   color: rgb(70, 68, 68);
   background-color:229,238,190;
   border: none;
   text-decoration: none;
}
#navegador, li, a:hover{
    background-color: 229,238,190;
   color: #ffffff;
}
.listanavegacion {
    text-align: left;
}